In [1]:
import numpy as np
from numpy import nan
import matplotlib.pyplot as plt
import pandas as pd
import math
%run 1.Sobol_sequence.ipynb

In [2]:
df = pd.read_excel('foil.xlsx')

In [3]:
x = df['x']
y = df['y']

In [4]:
# plt.plot(x,y)
# plt.gca().set_aspect('equal', adjustable='box')
# plt.title('Original Airfoil (NACA 0012)')
# plt.xlabel('X-coordinate')
# plt.ylabel('Y-coordinate')
# plt.grid()

In [5]:
x = df['x'].values
y = df['y'].values

In [6]:
x = x[np.logical_not(np.isnan(x))]
y = y[np.logical_not(np.isnan(y))]

In [7]:
def hicks_henne(x_coord, y_coord , n, a, w, xM):
    y_deformed = np.array(y_coord)
    for i in range(n):
        ai = a[i]
        xMi = xM[i]
        wi = w[i]
        m = np.log(0.5)/np.log(xMi)
        f = np.sin(np.pi * np.array(x_coord) ** m ) ** wi
        y_deformed += ai * f
        
        x_1 = []
        for j in range(0,1001):
            x_1.append(j/1000)
        f_b = np.sin(np.pi * np.array(x_1) ** m ) ** wi
        
#         plt.xlabel('X-coordinate')
#         plt.ylabel('Bump function')
#         plt.plot(x_1, f_b)
#         plt.title('Hicks-Henn Bump Function')

    return y_deformed

In [8]:
#inputs
n = 4
w = np.full(n,2) 
xM = [0.2, 0.4, 0.6, 0.8]

In [9]:
def hicks_henne_overall(x_coord, y_coord , n, a, i, w, xM):
    def split_xy(arr):
        half = len(arr)//2
        return arr[:half+1], arr[half+1:]

    x_up, x_low = split_xy(x)
    y_up, y_low = split_xy(y)
    
    a_up = a[i][:4]
    a_low = a[i][4:]
    
#     a_up = np.full(n,0.01)  
#     a_low = np.full(n,-0.01)
    
    y_mod_up = hicks_henne(x_up, y_up, n, a_up, w, xM)
    y_mod_low = hicks_henne(x_low, y_low, n, a_low, w, xM)
    y_mod = np.concatenate((y_mod_up, y_mod_low))
    return y_mod

In [10]:
i = 0
a

0      [0.007, 0.0086, -0.0027, -0.0027, -0.0072, 0.0...
1      [-0.0037, -0.0029, 0.0047, 0.0051, 0.0089, -0....
2      [-0.0077, 0.0032, -0.0069, -0.0094, 0.0025, -0...
3      [0.0016, -0.0077, 0.0056, 0.0021, -0.001, 0.00...
4      [0.0037, 0.0014, 0.0022, 0.0042, -0.0032, 0.00...
                             ...
126    [-0.0035, 0.0075, -0.0034, -0.0011, 0.0013, -0...
127    [0.0071, -0.0016, 0.0041, 0.0085, -0.0048, 0.0...
128             [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
129    [0.01, 0.01, 0.01, 0.01, -0.01, -0.01, -0.01, ...
130    [-0.01, -0.01, -0.01, -0.01, 0.01, 0.01, 0.01,...
Length: 131, dtype: object

In [11]:
y_mod = hicks_henne_overall(x, y , n, a, i, w, xM)

In [12]:
# plt.plot(x,y_mod)
# plt.gca().set_aspect('equal', adjustable='box')
# plt.title('Deformed Airfoil')
# plt.xlabel('X-coordinate')
# plt.ylabel('Y-coordinate')
# plt.grid()

In [13]:
# plt.plot(x, y, label = "Original Airfoil")
# plt.plot(x, y_mod, label = "Deformed Airfoil")
# plt.gca().set_aspect('equal', adjustable='box')
# plt.title('Original Airfoil vs Deformed Airfoil')
# plt.xlabel('X-coordinate')
# plt.ylabel('Y-coordinate')
# plt.legend(loc=(1,1))
# plt.grid()

In [14]:
df1 = pd.DataFrame({'x': x, 'y_modified': y_mod} )

In [15]:
df1

           x  y_modified
0   1.000000    0.001260
1   0.998459    0.001475
2   0.993844    0.002111
3   0.986185    0.003137
4   0.975528    0.004506
..       ...         ...
76  0.975528   -0.004779
77  0.986185   -0.003227
78  0.993844   -0.002129
79  0.998459   -0.001477
80  1.000000   -0.001260

[81 rows x 2 columns]